.image{
    max-width: 200px;
    width: 169px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 57px;
    border-radius: 50%;
    border: 10px solid #f8f8f8;
}

.body{
	margin: 0;
	padding: 0;
	background-image: url(images/bg-img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	font-family: 'Raleway' , 'sans-serif';
	height: 90vh;
}


.container{
	background-color: rgba(0,0,0,0.6);
	height: 90vh;

}

.text{
	text-align: center;
	font-size: 40px;
	color: skyblue;
}

a{
	text-decoration: none;
	padding: 10px;
}

.links{
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: #345634;
}

.texxt{
	font-size: 24px;
	color: #345634;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}
